/* Based on Radu Andrei's stack overflow response at
https://stackoverflow.com/questions/30961090/css-3d-box-rotation */
/* CORE CSS */
body {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.cube {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  text-align: center;
}
/* .initialpanel.top{
  visibility:hidden !important;    
} */
.cube span{
  color: #000;
  line-height:100px;    
}
.cube > div {
  border-style: solid;
  border-width: thin;
  position: relative;
  transform:rotateX(90deg) translateZ(50px);
  margin-top:-100px;
  visibility:hidden;
  transition:all 0.3s;
}
.cube > div:first-child{
  margin-top:0
}
.cube > div.normal {
  -webkit-transform: rotateX(0) translateZ(50px);
  -moz-transform: rotateX(0) translateZ(50px);
  -o-transform: rotateX(0) translateZ(50px);
  -ms-transform: rotateX(0) translateZ(50px);
  transform: rotateX(0) translateZ(50px);
  display:block;
  visibility:visible;
}
.cube > div.bot {
  -webkit-transform: rotateX(-90deg) translateZ(50px);
  -moz-transform: rotateX(-90deg) translateZ(50px);
  -o-transform: rotateX(-90deg) translateZ(50px);
  -ms-transform: rotateX(-90deg) translateZ(50px);
  transform: rotateX(-90deg) translateZ(50px);
  visibility:hidden;
}